/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
    background: #0082BF;
}

.container {
    min-height:100%;
    position:relative;
    font-size: 1.2em;
    width: 100%;
    margin: 0;
    padding: 0;
}

#header{
    background-color: #00567F;
    padding: 5px;
    font-family: "Courier New", Courier, monospace;
}
#header .logo{
    width: 40px;
    margin-right: 20px;
}
#header *{
    display: inline;
}
#header h1{
    margin: 10px;
    font-size: 30px;
}
#header h1 a{
    color: black;
    text-decoration: none;
}

#main{
    padding:10px;
    padding-bottom:50px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#main nav{
    display: flex;
    flex: 1;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 25px;
    z-index: 10;
    min-width: 170px;
    flex-direction: column;
}
#main nav .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
#main nav .nav li {
    position: relative;
    display: block;
}
#main nav .nav li a {
    padding: 8px 20px;
    line-height: 20px;
    position: relative;
    display: block;
    color: black;
    text-decoration: none;
}
#main nav .nav li a i {
    float: left;
    margin-right: 15px;
    width: 14px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

#main nav .nav li:hover{
    background: #00517F;
}
#main nav .nav .active{
    background: #00517F;
}
#main nav .nav li a:hover{
    color: white;
}
#main nav .nav li a:link, main[role="main"] nav .nav li a:visited{
    color: black;
}
#main .content{
    display: flex;
    flex: 5;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 25px;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    text-align: center;
    padding-top: 10px;
    color: white;
}
footer .link:link, footer .link:visited{
    color: lightgray;
}
a:link, a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#footer{
    background: linear-gradient( 180deg, #0082BF 20%, #00567F 40%, red )
}
#main header{
    margin-bottom: 20px;
}
#main header *{
    display: inline;
}

#main header h2{
    font-size: 22px;
    font-family: monospace;
    margin-right: 10px;
}
#main header p {
    font-style: italic;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color:#fff;
}
table tr:hover {
    background-color:rgb(224, 224, 235);
}

table th {
    background-color: black;
    color: white;
}
table tr td input{
    width: 90%;
    height: 30px;
    background: initial;
    border: none;
    text-align: center;
}
table tr td:last-child *{
    display: block;
    text-align: center;
}
table tr td:last-child{
    width: 160px;
}
.button{
    border-radius: 5px;
    padding: 4px 15px;
    border: none;
    text-decoration: none;
    color: black;
}
.button:hover{
    cursor: pointer;
}
.danger{
    background: #ff6666;
}
.danger:hover{
    background: #b30000;
}
.notice{
    background: #1a75ff;
}
.notice:hover{
    background: #145dcc;
}

.info{
    background: #cc9900;
}
.info:hover{
    background: #806000;
}

.accept{
    background: #009933;
}
.accept:hover{
    background: #006622;
}

.f-l{
    float: left !important;
}

.f-r{
    float: right !important;
}

.m-t-15{
    margin-top: 15px !important;
}

:target:target {
    animation: highlight 3s ease;
    transform: translateX(20px);
}

form .form-control{
    /*border: 1px solid #ccd0d4;*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
    /*font-size: 12px;*/
    /*border-radius: 3px;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: block;
    width: 96%;
    height: 20px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.content article{
    width: 100%;
}
.form-container{
    margin: 10px auto;
    width: 400px;
}

.form-container form > *{
    margin-top: 10px;
    display: block;
}

form .input-lg{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
select, input{
    height: 30px !important;
    width: 100% !important;
}


article {
    display: none;
}
article:target {
    display: block !important;
}


@media print{
    *{
        background: white !important;
        color: black !important;
    }
    header, footer, nav, #menu{
        display: none !important;
        width: 0;
    }
    .main, #main .content{
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }
    .news-info{
        color: black;
        height: 20px;
        display: block;
    }
    table th{
        font-weight: bold;
        font-size: 1.1em;
	    border: 1px solid black;
    }

    table{
        border: 1px solid black;
        width: 96% !important;
    }

    table td{
        font-size: 1em;
	    border: 1px solid black;
    }

    table tr td:last-child, table tr th:last-child{
        display: none !important;
	    border: 1px solid black;
    }

    #students_table tr td:nth-child(6), #students_table tr th:nth-child(6), #students_table tr td:nth-child(5), #students_table tr th:nth-child(5){
        display: none !important;
    }

    form input{
        border: none !important;
        box-shadow: none !important;

    }
    .button{
        display: none!important;
    }
}