<!DOCTYPE html>
 {#Autor:#}
 {#Krzysztof Orzoł 129397#}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>ZMIO</title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ asset('bundles/app/assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/assets/css/custom.css') }}"  rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/plugin/treant/Treant.css') }}"  rel="stylesheet" />
    {#<link href="{{ asset('bundles/app/assets/plugin/treant/examples/connectors/connectors.js') }}"  rel="stylesheet" />#}

    <script src="{{ asset('bundles/app/assets/js/jquery.min.js') }}"></script>
    <style>
        /*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }*/
        /*table { border-collapse:collapse; border-spacing:0; }*/
        /*fieldset,img { border:0; }*/
        /*address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }*/
        /*caption,th { text-align:left; }*/
        /*h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }*/
        /*q:before,q:after { content:''; }*/
        /*abbr,acronym { border:0; }*/

        /*body { background: #fff; }*/
        /* optional Container STYLES */
        .chart { height: 600px; margin: 5px; width: 900px; }
        .Treant > .node {  }
        .Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
        .node-name { font-weight: bold;}

        .nodeExample1 {
            padding: 2px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background-color: #ffffff;
            border: 1px solid #000;
            width: 200px;
            font-family: Tahoma;
            font-size: 12px;
        }

        .nodeExample1 img {
            margin-right:  10px;
        }
        .m-r-20{
            margin-right: 20px;
        }
        table tr td:last-child *{
            margin: 0;
        }
        .ds-inline > *{
            display: inline-block !important;
        }
    </style>
</head>
<body>
<div class="container">
    <header id="header">
        <h1>Zastosowanie Metod Inteligencji Obliczeniowej</h1>
        {#<a href="{{ asset('source/klasyfikatory.zip') }}" class=" btn btn-success btn-xs pull-right m-r-20">Pobierz pliki źródłowe</a>#}
    </header>
    <main id="main">
        <div class="content">
            <div class="row">
                <div class="col-md-2">
                    <form id="form_file" action="{{ path('homepage') }}" method="POST"/>
                    <div class="form-group">
                        <label for="select_file">Wybierz plik z danymi:</label>
                        <select name="fileName" id="select_file">
                            {% for file in files %}
                                <option value="{{ file }}" {% if fileSelect == file %}selected{% endif %}>{{ file }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" id="delete_file_input" name="deleteFile" value="0">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success selectBtn">Wybierz</button>
                        <button type="submit" class="btn btn-sm btn-danger deleteBtn">Usuń</button>
                    </div>
                    </form>
                </div>
                <div class="col-md-3">
                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.file) }}
                            {{ form_widget(form.file, { 'attr': {'class': 'form-control' }}) }}
                            <div class="col-md-offset-4 error-div">{{ form_errors(form.file) }}</div>
                        </div>
                        <div class="form-group">
                             <button type="submit" class="btn btn-sm btn-success" >Wyślij</button>
                        </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-7">
                    <form id="form_file" action="{{ path('homepage') }}" method="POST"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="margin-bottom: 10px;">Parameters</div>
                            <div class="form-group col-md-4">
                                <label for="parameters">Population size:</label> <input type="number" min="1" class="form-control" name="parameters[size]" id="parameters[size]" {% if populationSize is not null %}value="{{ populationSize }}"{% else %}value="20"{% endif %} />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="parameters">Max depth:</label> <input type="number" min="1" class="form-control" name="parameters[depth]" id="parameters[depth]" {% if maxDepth is not null %}value="{{ maxDepth }}"{% else %}value="6"{% endif %} />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="parameters">Numbers of generations:</label> <input type="number" min="1" class="form-control" name="parameters[generations]" id="parameters[generations]"{% if generationNumber is not null %}value="{{ generationNumber }}"{% else %}value="30"{% endif %} />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div style="margin-bottom: 10px;">Operations</div>
                            <div class="form-group col-md-1 ds-inline">
                                <label for="operations">add<input type="checkbox" class="form-control" name="operations[ADD]" id="operations[ADD]" value="1" {% if 'ADD' in operations %}checked{% endif %} /></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="operations">div<input type="checkbox" class="form-control" name="operations[DIV]" id="operations[DIV]" value="1" {% if 'DIV' in operations %}checked{% endif %} /></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="operations">divP<input type="checkbox" class="form-control" name="operations[DIVp]" id="operations[DIVp]" value="1" {% if 'DIVp' in operations %}checked{% endif %} /></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="operations">mul<input type="checkbox" class="form-control" name="operations[MUL]" id="operations[MUL]" value="1" {% if 'MUL' in operations %}checked{% endif %} /></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="operations">sub<input type="checkbox" class="form-control" name="operations[SUB]" id="operations[SUB]" value="1" {% if 'SUB' in operations %}checked{% endif %} /></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="operations">pow<input type="checkbox" class="form-control" name="operations[POW]" id="operations[POW]" value="1" {% if 'POW' in operations %}checked{% endif %} /></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="operations">powP<input type="checkbox" class="form-control" name="operations[POWp]" id="operations[POWp]" value="1" {% if 'POWp' in operations %}checked{% endif %} /></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="operations">sin<input type="checkbox" class="form-control" name="operations[SIN]" id="operations[SIN]" value="1" {% if 'SIN' in operations %}checked{% endif %} /></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="operations">cos<input type="checkbox" class="form-control" name="operations[COS]" id="operations[COS]" value="1" {% if 'COS' in operations %}checked{% endif %} /></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="operations">exp<input type="checkbox" class="form-control" name="operations[EXP]" id="operations[EXP]" value="1" {% if 'EXP' in operations %}checked{% endif %} /></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="operations">log<input type="checkbox" class="form-control" name="operations[LOG]" id="operations[LOG]" value="1" {% if 'LOG' in operations %}checked{% endif %} /></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="operations">logP<input type="checkbox" class="form-control" name="operations[LOGp]" id="operations[LOGp]" value="1" {% if 'LOGp' in operations %}checked{% endif %} /></label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="fileName" value="{{ fileSelect }}">
                    <div class="col-md-2 pull-right">
                        <button type="submit" name="generate" value="generate" class="btn btn-lg btn-success generate">Start</button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    LOG: <br /><br />
                    {% for key, value in logs %}
                        <div><span>{{ key+1 }}</span> : <span>{{ value }}</span></div>
                    {% endfor %}
                </div>
                <div class="col-md-7">
                    WYNIK:<br />
                    <div>
                        {{ result }}
                    </div>
                    <br /><br />
                    <div style="font-size: 11px;">
                        {{ describe }}
                    </div>
                </div>
            </div>
        </div>
    </main>
<footer class="footer">
</footer>
    <script src="{{ asset('bundles/app/assets/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/app/assets/plugin/treant/vendor/raphael.js') }}"></script>
    <script src="{{ asset('bundles/app/assets/plugin/treant/Treant.js') }}"></script>
    <script src="{{ asset('bundles/app/assets/plugin/treant/examples/connectors/connectors.js') }}"></script>
</body>
</html>
